body {
  background-color: black;
  color: red;
  font-family: cursive;
  text-align: center;
  margin: auto;
  height: 100%;
}

code {
  size: 2px;
}
ul {
  text-align: left;
  color: aqua;
}
.container {
  background-color: white;
  margin: auto;
  padding: 1px;
  justify-content: center;
  max-width: 250px;
  position: relative;
  color: rgb(109, 21, 203);
  top: 5vh;
}

img {
  width: 101px;
  height: 100px;
  border-radius: 200px;
  display: flex;
  text-align: justify;
}
.content {
  padding-left: 4px;
}
.agehead {
  font-weight: bold;
}
article {
  display: flex;
  padding: 10px;
  color: darkblue;
}
.name {
  font-weight: bolder;
}
button {
  background-color: rgb(180, 210, 163);
  border: 2px solid green;
  font-family: cursive;
  font-weight: bold;
  color: red;
}
button:hover {
  border: 3px double green;
  box-shadow: 2px 2px lightgreen;
}
